**/dist/
**/*.jsx
**/packages/**
**/*.suo
**/obj/**
**/bin/**
**/*.user
**/.idea
**/node_modules/**
**/.vs
code/BuySell/src/BuySell.Web/appsettings.json
code/BuySell/src/BuySell.Web/appsettings.json
code/BuySell/.vs/config/applicationhost.config
code/BuySell/.vs/restore.dg
code/BuySell/.vs/restore.dg
*.dg
**/*.lock.json
/code/BuySell/src/BuySell.Web/project.lock.json
/code/BuySell/src/BuySell.Repository/project.lock.json
/code/BuySell/src/BuySell.Common/project.lock.json
