<div class="ipl-progress-indicator" id="ipl-progress-indicator">
    <div class="ipl-progress-indicator-head">
        <div class="first-indicator"></div>
        <div class="second-indicator"></div>
    </div>
</div>
<div id="example"></div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<script>
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: "fade",
            direction: "vertical"
        });
    });
</script>